/* --------------------------------------------- ADMIN ADD ITEM ------------------------------------------------------------*/

h2{
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

body{
    background-color: white;
}

.add {
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #666;
    border: 1px solid #666;
    transition: background-color 0.3s;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.add:hover {
    background-color: #333;
    border: 1px solid #333;
}

#edit, #info{
    color: #fff;
}

#ban:hover , #delete:hover{
    box-shadow: 0 0 8px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    background-color: dark red;
}

#upgrade:hover{
    box-shadow: 0 0 8px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    background-color: darkblue;
}

#edit:hover{
    box-shadow: 0 0 8px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    background-color: orange;
}

.custom-dark-blue {
    background-color: #004085; /* Example dark blue color */
    border-color: #004085; /* Adjust the border color as well */
}

/* Optional: Change the hover and active state colors */
.custom-dark-blue:hover, .custom-dark-blue:active {
    background-color: #003366; /* Darker shade for hover */
    border-color: #003366;
}

