.small-container{
  max-width: 1080px;
  margin:auto;
  padding-left: 25px;
  padding-right: 25px;
}

.cart-page{
  margin: 80px auto;
}

.cart-page table{
  width: 100%;
  border-collapse: collapse;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}

.cart-page th{
  text-align:left;
  padding: 5px;
  color: #fff;
  background: #635b5b;
  font-weight: normal;
}

.cart-page td{
  padding: 10px 5px;
}

.cart-page td input{
  width: 40px;
  height:30px;
  padding: 5px; 
}

.remove{
  color: #cf1919;
  font-size: 12px;
}

.cart-page td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart-total{
  width: 60%;
  margin-bottom: 30px;
  border: 1px solid #635b5b;
  padding: 30px;
}

.cart-total table{
  width: 100%;
  margin-bottom:20px;
  border-collapse: collapse;
}

.cart-total table td{
  width: 50%;
  border: 1px solid #635b5b;
  font-size: 13px;
  padding : 10px;
}
